.app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dish-item {
    background-color: #FFFFFF;
}

.selected {
    background-color: rgb(235, 135, 135);
}